:root {
 --bg-button:#C6A24F;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
    list-style:none;
    display:flex;
}

/*-------------------------------------top*/
.section_top {
    width:100%;
    height:auto;
    position:relative;
}

.nav_container {
    display:flex;
    position:absolute;
    right:15px;
    width:700px;
    height:90px;
    align-items: center;
}

.nav_icon {
    position:absolute;
    left:30px;
    top:10px;
}

.text_nav {
    color:white;
    font-size:2.2rem;
    padding:15px;
}

.nav_icon_img {
    width:80px;
    height:auto;
}

.hero_img{
    width:100%;
    height:auto;
}

.nav_container  a{
    text-decoration: none;
    color:white;
}

.bcta {
    position: absolute;
    width:350px;
    height:80px;
    left:41%;
    bottom: 180px;
    background-color:var(--bg-button);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.bcta a {
    text-decoration: none;
    color:white;
}