:root {
 --bg-button:#C6A24F;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
    list-style:none;
    display:flex;
}

h1,h2,h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/*-------------------------------------fixed*/
.social {
    position:fixed;
    top:100px;
    left:10px;
    width:70px;
    height:70px;
    text-align: right;
}

.img-social {
    width:60px;
    height:60px;
}
/*-------------------------------------top*/
.section_top {
    width:100%;
    height:auto;
    position:relative;
}

.nav_container {
    display:flex;
    position:absolute;
    right:15px;
    width:700px;
    height:90px;
    align-items: center;
}

.nav_icon {
    position:absolute;
    left:30px;
    top:10px;
}

.text_nav {
    color:white;
    font-size:2.2rem;
    padding:15px;
}

.nav_icon_img {
    width:80px;
    height:auto;
}

.hero_img{
    width:100%;
    height:auto;
}

.nav_container  a{
    text-decoration: none;
    color:white;
}

.bcta {
    position: absolute;
    width:350px;
    height:80px;
    left:41%;
    bottom: 180px;
    background-color:var(--bg-button);
    color:white;
    font-size:2rem;
    border:none;
    border-radius: 6px;
      box-shadow: 
    0 6px 18px rgba(0, 0, 0, 0.4),
    inset 0 1px 1px rgba(255, 255, 255, 0.3);
  transition: all 0.25s ease;
}

.bcta a {
    text-decoration: none;
    color:white;
}

.mejor {
    position:absolute;
    bottom:10px;
    right:10px;
    font-size:1rem;
    color:#C6A24F;
}

/*--------------------------------------piston*/
    .section_piston {
        margin-top:20px;
        margin-bottom:20px;
        margin-left:auto;
        margin-right:auto;
        width:80%;
        height:auto;
    }

    .container_name {
        width:100%;
        height: auto;
        margin-top:20px;
        margin-bottom:20px;
    }

    .h2_name {
        font-size:3rem;
        text-align: center;
        margin-bottom:40px;
    }

    .container_about {
        display:flex;
        width:100%;
        height:auto;
        margin-bottom: 20px;
    }

    .left-about {
        display:flex;
        width:50%;
        height:auto;
        align-items: center;
    }

    .right-about {
        width:50%;
        height:auto;
    }

    .text_about {
        font-size:1.7rem;
        padding:5px;
    }

    .h2-about {
        font-size:1.5rem;
    }

    .about_img {
        width:600px;
        height:auto;
    }
/*--------------------------------------galeria*/
.section_galeria {
    width:90%;
    height:auto;
    margin:auto;
}

.h2_galeria {
    font-size:3rem;
    text-align: center;
    margin-bottom:20px;
}

.container_galeria-v {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-bottom:15px;
}

.galery_img-v {
    width:100%;
    height:auto;
}
.container_galeria-h {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    margin-bottom:15px;
}

.galery_img-h {
    width:100%;
    height:auto;
}

/*--------------------------------------map*/
.section_map {
    width:90%;
    height:auto;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
}

.h2_map {
    text-align: center;
    font-size:3rem;
}

.text_map {
    text-align:center;
    font-size:1.5rem;
    margin-bottom:15px;
}

.container_map {
    width:100%;
    height:auto;
    margin-bottom:15px;
}

.iframe_map {
    width:80%;
    height:600px;
    margin-left:10%;
    margin-right:10%;
}

.horario {
    width:90%;
    height:auto;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(8,1fr);
    gap:10px;
}

.contenido {
    display:inline-block;
    width:100%;
    height:auto;
    text-align: center;
}

.text-contenido {
    font-size:1rem;
}
/*-----------------------------------footer*/

footer {
    background-color: black;
    text-align: center;
}

.img-footer {
    width:50px;
    height:50px;
}

.text-footer {
    color:white;
    font-size:1.3rem;
}
/*-----------------------------------media*/
@media (max-width:768px) {

    .nav_container {
        width:100%;
        height:auto;
        position:static;
        background-color:#C6A24F;
        margin-bottom:10px;
        
    }

    .text_nav {
        font-size:1rem;
    }

    .nav_icon_img {
        display:none;
    }

    .hero_img {
        
    }

    .bcta {
        position:static;
        width:300px;
        margin-left:25px;
        margin-right:25px;
        
        
    }
    
    .mejor {
        display:none;        

    }

    .h2_name {
        font-size:2rem;
    }

    .h2-about {
        font-size:1.5rem;
    }

    .container_name {
        display:inline;
    }

    .container_about {
        display:inline;
        text-align: justify;
    }

    .left-about {
        display:inline;
    }

    .about_img {
        width:300px;
        height:auto;
        margin:auto;
        margin-top:10px;
    }

    .text_about {
        font-size:1rem;
    }

    .h2_galeria {
        font-size:2rem;
    }

    .container_galeria-v {
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }

    .container_galeria-h {
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }

    .h2_map {
        font-size:1.5rem;
        margin-bottom:10px;
    }

    .text_map {
        font-size:1rem;
    }

    .iframe_map {
        width:100%;
        height:250px;
        margin:auto;
    }

    .horario {
        flex-direction: column;
        
    }

    .text-footer {
        font-size:0.9rem;
    }

    .img-footer {
        padding-left:5px;
    }
}
